*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

body{
    width: 100%;
    height: 100%;
    display: center;
    place-items: center;
    background-color: #eee;
}
div.conteudo{
    padding: 10%;
}

h1.titulo{
    font-size: 400%;
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
}

div.boxsort{
    min-width: 50%;
    background-color: none;
    text-align: center;
    padding: 15px 20%;
}

div.boxsort h1{
    font-size: 400%;
    margin: 15px 0;
}

div.boxsort input{
    align-items: center;
    font-size: 200%;
    padding: 5%;
    margin: 5%;
}

div.boxsort button{
    margin: 5%;
    padding: 3%;
    font-size: 400%;
    background-color: #fff;
}

div.boxsort form{
    padding-top: 100%;
    font-size: 500%;
}

div.box{
    min-width: 50%;
    text-align: center;
    padding: 15px 0%;
}

div.box h1{
    font-size: 500%;
    color: rgb(80,80,80);
    margin: 15px 0;
}

div.box button{
    font-size: 200%;
    text-align: center;
    color: white;
    background-image: url('tampinha.png');
    background-position: center;
    background-size: fixed;
    background-repeat: no-repeat;
    border-radius: 300px;
    padding: 25% 27%;
    cursor: pointer;
}